version: '3'
services:
  backend:
    image: doctranslator-local
    container_name: backend-container
    restart: always
    volumes:
      - ../backend:/app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-container
    restart: always
    ports:
      - "1475:80"
      - "8081:8081"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/dist:/usr/share/nginx/html/frontend
      - ../admin/dist:/usr/share/nginx/html/admin
    depends_on:
      - backend
